<section id="hero">
  <div class="backdrop-container">
    <div class="backdrop-wrapper">
      <div class="hero-text">
        <h2 class="text-center">
          Suivez les films que vous avez regardés. <br>
          Dites à vos amis ce qui est bon. <br>
          Sauvegardez ceux que vous voulez voir. <br>
        </h2>
        <button type="button" class="btn btn-secondary open-modal">COMMENCEZ — C'EST GRATUIT !</button>
        <p class="platforms">
          <strong>Le réseau social des amoureux de films.</strong>
          Bientôt disponible sur <a href="/apps/" class="icons"><i class="bi bi-android2"></i> &
            <i class="bi bi-apple"></i> *</a>
        </p>
      </div>
    </div>
  </div>


  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h3 class="fw-bold mb-0">Incrivez-vous gratuitement</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form method="POST" action="/auth/register">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="email" name="email" placeholder="nom@exemple.fr">
              <label for="email">Adresse Mail</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="password" name="password" placeholder="Votre mot de passe">
              <label for="password">Mot de Passe</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="username" name="username" placeholder="Votre mot de passe">
              <label for="username">Nom d'utilisateur</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit">S'inscrire</button>
            <small class="">En cliquant sur "S'inscrire", vous acceptez les <a class="text-decoration-underline" href="#">Termes Généraux.</a></small>
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">Ou utilisez une autre méthode</h2>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
              <i class="bi bi-twitter"></i>
              S'inscrire avec Twitter
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
              <i class="bi bi-facebook"></i>
              S'inscrire avec Facebook
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>