<section id="hero">
  <div class="backdrop-container">
    <div class="backdrop-wrapper">
      <div class="hero-text">
        <h2 class="text-center">
          Suivez les films que vous avez regardés. <br>
          Dites à vos amis ce qui est bon. <br>
          Sauvegardez ceux que vous voulez voir. <br>
        </h2>
        <button type="button" class="btn btn-secondary">COMMENCEZ — C'EST GRATUIT !</button>
        <p class="platforms">
          <strong>Le réseau social des amoureux de films.</strong>
          Bientôt disponible sur <a href="/apps/" class="icons"><i class="bi bi-android2"></i> & 
             <i class="bi bi-apple"></i> *</a>
        </p>
      </div>
    </div>
  </div>
</section>